<!-- message -->
<section class="flex flex-row">
  <div *ngIf="user"  class="w-full px-5 h-full flex flex-col mb-5">
    <div class=" overflow-y-auto"  [style.height]="listHeight">
      <app-message-list [messages]="messages"></app-message-list>
    </div>
    <form class="p-3 h-20 flex flex-row">
      <input
        class="w-full bg-gray-300 py-5 px-3 rounded-xl"
        type="text" [(ngModel)]="message" name="message"
        placeholder="type your message here..."
      />
      <button (click)="sendMessage()">Envoyer</button>
    </form>
  </div>
  <div *ngIf="userDetailIsVisible">
    <app-user-detail></app-user-detail>
  </div>
</section>
<!-- end message -->