
  <div [ngClass]="{
    'justify-end':message.is_sender,
    'justify-start':!message.is_sender,
  }" 
  class="flex  mb-4">
  <div [ngClass]="{
    'flex-row': message.is_sender,
    'flex-row-reverse': !message.is_sender
  }" class="flex mb-4">
    <div [ngClass]="{
      'bg-blue-400 rounded-bl-3xl rounded-tr-3xl rounded-tl-xl ': message.is_sender,
      'bg-gray-400 rounded-br-3xl rounded-tl-3xl rounded-tr-xl': !message.is_sender
    }" class="mr-2 py-3 px-4  text-white">
      {{ message.content }}
    </div>
    <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full" alt="" />
  </div>
  
  </div>