<!-- component -->
<!-- This is an example component -->
<div class=" m-6 rounded-lg h-full">
  <!-- headaer -->
  <div class="pb-5 flex justify-between items-center bg-white border-b-2">
    <div class="font-semibold text-2xl">GoingChat</div>

    <div class="h-12 w-12 p-2 bg-yellow-500 rounded-full text-white font-semibold flex items-center justify-center">
      RA
    </div>
  </div>
  <!-- end header -->
  <!-- Chatting -->
  <section class="flex flex-row justify-between bg-white"  [style.height]="windowHeight">
    <!-- chat list -->
    <app-messages-latest (userSelected)="onUserSelected($event)" [height]="windowHeight"></app-messages-latest>
    <!-- end chat list -->
    <!-- message -->
    <app-messages-view [user]="currentUser" [listHeight]="listHeight" class="container"></app-messages-view>
    <!-- end message -->
  </section>
</div>